<% if @competition.end.nil? %>
	<h1>Editando Resultado</h1>
	<%= render 'form' %>
<% else %>
	<h2><%= "Competição #{@competition.title} encerrada..." %></h2>
<% end %>
<h2><%= link_to 'Voltar', request.referer.present? ? request.referer : default_path %></h2>